<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>HOME TAB</ion-title>
    </ion-toolbar>
  </ion-header>
<ion-content padding>
    <ion-tabs >
        <ion-tab-bar slot="top">
          <ion-tab-button tab="subtab1">
            
            <ion-label>Educação</ion-label>
          </ion-tab-button>
          <ion-tab-button tab="subtab2">
              
              <ion-label>Saúde</ion-label>
            </ion-tab-button>
          <ion-tab-button tab="subtab3">
            
            <ion-label>Obras</ion-label>
          </ion-tab-button>
          <ion-tab-button tab="subtab4">
            
            <ion-label>Receita e Despesa</ion-label>
          </ion-tab-button>
        </ion-tab-bar>
      </ion-tabs>
</ion-content>

<!-- 

<ion-content padding>
  <ion-grid fixed>
    <ion-row>
      <ion-col size="6">ABC</ion-col>
      <ion-col size="6">DEF</ion-col>
    </ion-row>
  </ion-grid>

</ion-content> -->
